.border{
border:solid 1px $euro;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

hr{
  &.sm{
    margin:15px;
    border-bottom:dashed 1px lighten($euro,30%);
  }
}