.banniere{
  height:300px;
  padding-top: 100px;
  background-color: $brand-success;
  font-weight: bold;
  color: white;
  text-align: center;
}

.banniere3{
  height:400px;
  padding-top: 150px;
  background-color: $brand-success;
  font-weight: bold;
  color: white;
  text-align: center;
}
.video3{
  height:400px;
  padding-top: 150px;
  background-color: $brand-primary;
  font-weight: bold;
  color: white;
  text-align: center;
  border-right:solid 1px lighten($brand-primary,15%);
}
.wraper{
  padding: 10px 5px 10px 5px;

  .item{
    padding-top: 5px;
    background-color: lighten($brand-danger,20%);
    font-weight: bold;
    color: white;
    &:hover{
      background-color: $brand-danger;
    }
  }
}


.solution{
  .item{
    height: 80px;
  }
}

.contact{
  border-top:solid 1px lighten($brand-info,20%);
  border-bottom:solid 1px lighten($brand-info,20%);
}

.menu{
  border-bottom:solid 1px lighten($brand-info,20%);
}

.logo{
  padding-top: 12px;
  background-color: lighten($brand-danger,20%);
  text-align: center;
  font-weight: bold;
  color: white;
}

.menu-item{
  .item{
    padding-top: 40px;
    background-color: $brand-info;
    height: 100px;
    font-weight: bold;
    color:white;
    border-right: solid 1px lighten($brand-info,15%);
    &:hover{
      background-color: $brand-primary ;
    };
  }
}
.content{
  border-top:solid 1px lighten($brand-info,20%);
}

.photo_w{
  padding: 3px;
  .photo{
    text-align: center;
    font-weight: bold;
    color: white;
    min-height: 100px;
    height: auto;
    background-color: $brand-info;
  }
}

.video{
  height:300px;
  padding-top: 100px;
  background-color: $brand-primary;
  font-weight: bold;
  color: white;
  text-align: center;
  border-right:solid 1px lighten($brand-primary,15%);
}
